.style-wrapper-dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: rgb(233, 233, 233);
}

.style-container-center-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .center-txt-seller {
        margin-left: 16px;
        color: $point-purple;
    }
}

.center-title3,
.center-txt-seller {
    display: inline;
    font-size: 36px;
    line-height: 44px;
    color: $soft-white;
}

.style-container-upload {
    .link-upload {
        position: relative;
        display: block;
        width: 168px;
        background-color: $point-purple;
        border-radius: 5px;
        padding: 14px 10px 16px 60px;
        text-align: left;
        text-decoration: none;
        color: white;
    }
}
.link-upload::before {
    position: absolute;
    content: "";
    background: url("../images/icon-upload.png") no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    top: 10px;
    left: 26px;
}

.style-container-center-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    padding: 44px 0;

    .center-menu {
        border-radius: 5px;
        background-color: inherit;
        li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 250px;
            padding: 15px 20px;
            margin-bottom: 10px;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            div {
                font-size: 16px;
                line-height: 20px;
            }

            .num-small {
                width: 20px;
                height: 20px;
                background-color: $point-red;
                border-radius: 50%;
                text-align: center;
                font-size: 0;

                em {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }

        li:hover,
        li:active,
        li:focus {
            border-radius: 5px;
            background-color: #303134;
            cursor: pointer;
        }
    }

    .center-view {
        width: 100%;
        height: 500px;
        background: #333333;
        border: 1px solid #4c4c4c;
        border-radius: 5px;
        overflow: hidden;
        font-size: 18px;
        line-height: 23px;

        .view-head {
            border-bottom: 1px solid #4c4c4c;
        }
        .view-head,
        .view-body {
            text-align: center;
            background-color: $main-color;
        }
    }
}

.view-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 18px 0;

    .center-head.product-info {
        width: 55.5%;
    }
    .center-head.price {
        width: 19.5%;
    }
    .center-head.edit {
        width: 12.5%;
    }
    .center-head.delete {
        width: 12.5%;
    }
}

.view-list.add {
    padding: 13px 0;
    border-bottom: 1px solid #4c4c4c;
    li:nth-child(1) {
        width: 55.5%;
    }
    li:nth-child(2) {
        width: 19.5%;
    }
    li:nth-child(3) {
        width: 12.5%;
    }
    li:nth-child(4) {
        width: 12.5%;
    }
}

.style-container-center-col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.center-img-wrapper {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;

    .center-img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.center-txt-product {
    font-size: 18px;
    line-height: 22px;
}
.center-txt-stock {
    font-size: 16px;
    line-height: 20px;
    color: #767676;
    text-align: left;
    margin-top: 10px;
}

.center-num-price {
    display: block;
}

.button-center-edit,
.button-center-delete {
    width: 70px;
    border: none;
    background-color: $point-purple;
    border-radius: 5px;
    padding: 10px 0;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    color: white;
    cursor: pointer;
}
.button-center-edit:focus,
.button-center-delete:focus {
    outline: 3px solid white;
}
.button-center-delete {
    background-color: #303134;
}
