.style-wrapper-dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: $on-background;
}

.style-container-center-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    .center-txt-seller {
        margin-left: 16px;
        color: $primary;
    }
}

.center-title3,
.center-txt-seller {
    display: inline;
    font-size: 36px;
    line-height: 44px;
    color: $on-background;
}

.style-container-upload {
    .link-upload {
        position: relative;
        display: block;
        width: 168px;
        background-color: $primary;
        border-radius: $border-radius;
        padding: 14px 10px 16px 60px;
        text-align: left;
        text-decoration: none;
        color: $on-surface;
    }
}
.link-upload::before {
    position: absolute;
    content: "";
    background: url("/assets/images/icon-upload.png") no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    top: 10px;
    left: 26px;
}

.style-container-center-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    padding: 44px 0;

    .center-menu {
        border-radius: $border-radius;
        background-color: inherit;
        li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 250px;
            padding: 15px 20px;
            margin-bottom: 10px;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            div {
                font-size: 16px;
                line-height: 20px;
            }

            .num-small {
                width: 20px;
                height: 20px;
                background-color: $secondary;
                border-radius: 50%;
                text-align: center;
                font-size: 0;

                em {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }

        li:hover,
        li:active {
            border-radius: $border-radius;
            background-color: $overlay;
            cursor: pointer;
        }
    }

    .center-view {
        width: 100%;
        height: 500px;
        background: inherit;
        border: 1px solid $border;
        overflow: hidden;
        font-size: 18px;
        line-height: 23px;

        .view-head {
            border-bottom: 1px solid $border;
        }
        .view-head,
        .view-body {
            text-align: center;
            background-color: $background;
        }
        .view-body {
            height: calc(100% - 60px);
            overflow-y: overlay;

            ul:hover {
                background-color: $overlay;
                -webkit-transition: all ease 0.2s;
                -o-transition: all ease 0.2s;
                transition: all ease 0.2s;
            }
        }
        .view-body::-webkit-scrollbar {
            width: 10px;
        }
        .view-body::-webkit-scrollbar-thumb {
            background-color: $on-scroll;
            background-clip: padding-box;
            border: 1px solid transparent;
        }
        .view-body::-webkit-scrollbar-track {
            background-color: $scroll;
        }
    }
}

.view-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 18px 0;

    .center-head.product-info {
        width: 55.5%;
    }
    .center-head.price {
        width: 19.5%;
    }
    .center-head.edit {
        width: 12.5%;
    }
    .center-head.delete {
        width: 12.5%;
    }
}

.view-list.add {
    padding: 13px 0;
    border-bottom: 1px solid $border;
    li:nth-child(1) {
        width: 55.5%;
    }
    li:nth-child(2) {
        width: 19.5%;
    }
    li:nth-child(3) {
        width: 12.5%;
    }
    li:nth-child(4) {
        width: 12.5%;
    }
}

.style-container-center-col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.center-img-wrapper {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: $border-radius;
    margin-left: 20px;
    cursor: pointer;

    .center-img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.center-txt-product {
    font-size: 18px;
    line-height: 22px;
}
.center-txt-stock {
    font-size: 16px;
    line-height: 20px;
    @include low-emphasis;
    text-align: left;
    margin-top: 10px;
}

.center-num-price {
    display: block;
}

.button-center-edit,
.button-center-delete {
    width: 70px;
    border: none;
    background-color: $primary;
    border-radius: $border-radius;
    padding: 10px 0;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    color: $on-surface;
    cursor: pointer;
}
.button-center-edit:focus,
.button-center-delete:focus {
    outline: 3px solid white;
}
.button-center-delete {
    background-color: $surface;
}

.message-no-products {
    margin-top: 100px;
    color: #4c4c4c;
}

@media (max-width: 880px) {
    .center-menu {
        display: none;
    }

    .style-container-center-top {
        gap: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: normal;
        -ms-flex-align: normal;
        align-items: normal;
    }

    .center-title3,
    .center-txt-seller {
        font-size: 32px;
    }

    .style-container-upload {
        margin-left: auto;
    }

    .style-container-center-main {
        padding-left: 20px;
        padding-right: 20px;

        .center-view,
        .center-txt-product,
        .center-txt-stock {
            font-size: 16px;
        }
        .button-center-edit,
        .button-center-delete {
            width: 60px;
            font-size: 14px;
        }
    }

    .view-list {
        .center-head.product-info {
            width: 50%;
        }
        .center-head.price {
            width: 18%;
        }
        .center-head.edit {
            width: 16%;
        }
        .center-head.delete {
            width: 16%;
        }
    }

    .view-list.add {
        li:nth-child(1) {
            width: 50%;
        }
        li:nth-child(2) {
            width: 18%;
        }
        li:nth-child(3) {
            width: 16%;
        }
        li:nth-child(4) {
            width: 16%;
        }
    }
}

@media (max-width: 500px) {
    .style-container-center-top {
        padding-top: 20px;
    }

    .title-seller-center,
    .center-title3,
    .center-txt-seller {
        font-size: 28px;
        word-break: keep-all;
    }

    .style-container-upload .link-upload {
        padding: 0;
        width: 50px;
        height: 50px;
    }

    .link-upload::before {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .style-container-center-col1 {
        gap: 15px;
    }
    .style-container-center-main {
        padding-top: 20px;
        .center-view,
        .center-txt-product,
        .center-txt-stock {
            font-size: 14px;
        }
        .button-center-edit,
        .button-center-delete {
            width: 50px;
            font-size: 12px;
        }
    }
}
