div,
span,
article,
section,
header,
main,
footer,
p,
ul,
li,
label,
a,
nav,
h1,
h2,
h3,
form,
input,
button,
img,
textarea,
table,
thead,
tbody,
tr,
th,
td {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
}

body,
button {
    color: $txt-color;
    font-family: $base-font;
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.sr-only {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
