div,
span,
article,
section,
header,
main,
footer,
p,
ul,
li,
label,
a,
nav,
h1,
h2,
h3,
form,
input,
button,
img,
textarea,
table,
thead,
tbody,
tr,
th,
td {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    background-color: $background;
}

body,
button {
    color: $on-background;
    font-family: $base-font;
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.sr-only {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 120px;
}

.button-top {
    display: none;
    position: fixed;
    bottom: 200px;
    right: 35px;
    padding: 20px;
    background-color: black;
    border: none;
    font-size: 16px;
    color: $on-background;
    cursor: pointer;
}

.button-top.show {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: 0;
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -webkit-appearance: 0;
    appearance: 0;
    -moz-appearance: textfield;
}

@media (max-width: 768px) {
    .button-top {
        bottom: 50px;
        opacity: 0.7;
    }
}
