div,
span,
article,
section,
header,
main,
footer,
p,
ul,
li,
label,
a,
nav,
h1,
h2,
h3,
form,
input,
button,
img,
textarea,
table,
thead,
tbody,
tr,
th,
td {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    background-color: $background-color;
}

body,
button {
    color: $txt-color;
    font-family: $base-font;
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.sr-only {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.max-width {
    width: 1200px;
    max-width: calc(100% - 60px);
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 91px;
}

.button-top {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: black;
    border: none;
    font-size: 16px;
    color: $soft-white;
    cursor: pointer;
}

.button-top.show {
    display: block;
}

.button-top:hover {
    background-color: $soft-white;
    color: black;
}

// input type number spin 제거
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
