.footer {
    background-color: $overlay;
}

.footer > .max-width {
    padding-top: 0;
}

.link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 60px 0 30px;
    border-bottom: 1px solid $border;
    margin-bottom: 30px;
}

.style-link-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 32px;

    .link-page {
        position: relative;
        text-decoration: none;
        color: $on-background;
        font-style: normal;
        font-size: 14px;
        line-height: 18px;
    }

    .link-page:not(:first-child)::after {
        content: "|";
        left: -17px;
        position: absolute;
    }
}

.style-link-sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 14px;

    .icon-sns {
        width: 32px;
    }
}

.co-info {
    padding-bottom: 63px;
}

.co-info-list {
    dt,
    dd {
        display: inline-block;
        color: $on-background;
    }
}

.txt-co-name {
    font-weight: bold;
    font-size: 20px;
}

.style-co-info:first-child {
    margin-bottom: 10px;
}

.style-co-info:not(:first-child, :last-child) {
    margin-bottom: 7px;
}

@media (max-width: 768px) {
    .style-link-page {
        gap: 5px;
    }
    .style-link-sns {
        gap: 3px;
    }
    .style-link-page .link-page {
        font-size: 10px;
    }
    .txt-co-name {
        font-size: 15px;
    }
    .co-info-list {
        font-size: 10px;
    }
}
