.header {
    background-color: $main-color;
    border-bottom: 1px solid #191919;
    -webkit-box-shadow: 0 4px 5px 0px #191919;
    box-shadow: 0 4px 5px 0px #191919;
    margin-bottom: 35px;

    .head {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 20px 0;
    }

    .style-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .logo {
        width: 200px;
    }
}

// 검색
.style-search {
    font-size: 0;
    padding-left: 30px;

    #searchProducts {
        width: 300px;
        height: 44px;
        border: none;
        border-radius: 24px 0 0 24px;
        padding: 0 0 0 30px;
        margin: 0;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
        background-color: #303134;
        color: #e8eaed;
        -webkit-box-shadow: 5px black;
        box-shadow: 5px 5px 5px black;
    }

    .button-search {
        height: 44px;
        border: none;
        border-radius: 0 24px 24px 0;
        padding-right: 20px;
        background-color: #303134;
        vertical-align: bottom;
        cursor: pointer;
        -webkit-box-shadow: 5px 5px 5px black;
        box-shadow: 5px 5px 5px black;

        .img-search {
            width: 24px;
        }
    }
}

// 유저메뉴
.list-usermenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon-shopping-bag,
.icon-user {
    display: block;
    width: 32px;
    margin: 0 auto 5px auto;
}

.link-list {
    width: 50px;
    height: 50px;
    background-color: inherit;
    border: none;
    margin: 0;
    color: #c0c0c0;
    cursor: pointer;
}
.link-list.cart {
    position: relative;
    width: 120px;
    background: url("../images/icon-shopping-bag.svg") no-repeat;
    background-size: 30px 30px;
    background-position: 10px 10px;
    padding: 0 0 0 30px;
    font-size: 13px;
}
.link-list.login {
    width: 75px;
    background-color: #303134;
    border-radius: 10px;
    font-size: 13px;
}
.link-list.login:hover {
    color: white;
}
.link-list.cart:hover {
    background-color: #303134;
    border-radius: 10px;
    color: white;
}

.dropdown {
    position: relative;

    .link-list.mypage {
        width: 120px;
        height: 50px;
        background: url("../images/icon-user.svg") no-repeat;
        background-size: 30px 30px;
        background-position: 10px 10px;
        padding: 0 20px 0 45px;
        border-radius: 50%;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        text-align: center;

        .drop-content {
            position: absolute;
            top: 60px;
            right: 0;
            width: 120px;
            z-index: 1;
            background-color: white;
            border-radius: 5px;
            -webkit-box-shadow: 3px 3px 3px 3px black;
            box-shadow: 3px 3px 3px 3px black;
        }
        .drop-content::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 22px solid white;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            top: -10px;
            right: 45px;
            z-index: -1;
        }
        .link-drop {
            display: block;
            padding: 13px;
            margin: 5px;
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #767676;
            border: 2px solid white;
            border-radius: 10px;
        }
        .link-drop:hover {
            color: black;
            border: 2px solid #767676;
        }
    }

    .link-list.mypage:hover {
        background-color: #303134;
        border-radius: 10px;
        color: white;
    }
    .link-list.mypage:focus-visible {
        border-radius: 10px;
        border: 1px solid #303134;
    }
    .link-list.mypage::after {
        position: absolute;
        content: "▾";
        font-size: 13px;
        color: #c0c0c0;
        top: 16px;
        right: 5px;
    }
}

.txt-user-id {
    font-size: 13px;
    vertical-align: bottom;
}

.header-cart-qt {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: $point-red;
    border-radius: 50%;
    top: 7px;
    left: 30px;
    font-size: 10px;
    line-height: 13px;
    color: white;
}

.link-seller-center {
    display: block;
    background: url("../images/icon-shopping-bag.svg") no-repeat;
    background-size: 30px 30px;
    background-position: 20px 9px;
    padding: 0 0 0 30px;
    width: 170px;
    height: 50px;
    background-color: $point-purple;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 47px;
    color: white;
}

// 판매자센터
.title-seller-center {
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: white;
    margin-left: 20px;
}
