.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $background;
    -webkit-box-shadow: 0 4px 5px 0px $overlay;
    box-shadow: 0 4px 5px 0px $overlay;
    z-index: 9999;

    .head {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 20px;
        gap: 30px;
    }

    .style-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 5px;
    }

    .logo {
        max-width: 200px;
    }
}

.style-search {
    position: relative;
    font-size: 0;
    padding-left: 30px;
    min-width: 396px;

    #searchProducts {
        width: 310px;
        height: 44px;
        border: none;
        border-radius: 0;
        padding: 0 0 0 15px;
        margin: 0;
        font-family: $base-font;
        font-size: 16px;
        line-height: 16px;
        background-color: $surface;
        color: $on-background;
    }

    .button-clear {
        position: absolute;
        right: 44px;
        width: 12px;
        height: 44px;
        vertical-align: bottom;
        border: none;
        padding: 0;
        margin: 0;
        outline: none;
        background-color: $surface;
        color: $on-surface;

        .img-clear {
            width: 10px;
            border: none;
            border-radius: 50%;
            vertical-align: baseline;
        }
    }
    .button-clear:focus {
        outline: none;
        .img-clear {
            outline: 1px solid white;
        }
    }

    .button-search {
        position: absolute;
        right: 0;
        height: 44px;
        border: none;
        padding: 10px;
        background-color: $surface;
        vertical-align: bottom;
        cursor: pointer;

        .img-search {
            width: 24px;
        }
    }
    .button-search:focus {
        outline: none;
        .img-search {
            outline: 1px solid white;
        }
    }
}

#searchProducts::-ms-clear,
#searchProducts::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

#searchProducts::-webkit-search-decoration,
#searchProducts::-webkit-search-cancel-button,
#searchProducts::-webkit-search-results-button,
#searchProducts::-webkit-search-results-decoration {
    display: none;
}

.autocomplete {
    position: absolute;
    width: 366px;
    background-color: $surface;
    -webkit-box-shadow: 5px 5px 5px 0px $background;
    box-shadow: 5px 5px 5px 0px $background;
    z-index: 9999;

    .list-match {
        li {
            height: 40px;
            overflow: hidden;

            .link-match {
                display: block;
                padding: 0 15px;
                text-decoration: none;
                color: $on-surface;
            }
            .autocomplete-name {
                display: block;
                font-size: 16px;
                line-height: 36px;
                @include ellipsis;
            }
            .style-keyword {
                color: $primary-variant;
            }
        }
    }
}

.autocomplete.show {
    display: block;
}

.link-match:hover {
    background-color: $overlay;
}

.link-match:focus-visible {
    outline: none;
    background-color: $overlay;
}

.list-usermenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon-shopping-bag,
.icon-user {
    display: block;
    width: 32px;
    margin: 0 auto 5px auto;
}

.link-list {
    width: 50px;
    height: 50px;
    background-color: inherit;
    border: none;
    margin: 0;
    color: $on-background;
    cursor: pointer;
}
.link-list.cart {
    position: relative;
    width: 120px;
    background: url("/assets/images/icon-shopping-bag.svg") no-repeat;
    background-size: 30px 30px;
    background-position: 10px 10px;
    padding: 0 0 0 30px;
    font-size: 13px;
}
.link-list.login {
    width: 75px;
    background-color: $surface;
    border-radius: $border-radius;
    font-size: 13px;
}
.link-list.cart:hover {
    background-color: $surface;
    border-radius: $border-radius;
    color: $on-background;
}

.dropdown {
    position: relative;

    .link-list.mypage {
        width: 120px;
        height: 50px;
        background: url("/assets/images/icon-user.svg") no-repeat;
        background-size: 30px 30px;
        background-position: 10px 10px;
        padding: 0 20px 0 45px;
        border-radius: 50%;
        font-size: 13px;
        text-align: center;
        @include ellipsis;

        .drop-content {
            position: absolute;
            top: 60px;
            right: 0;
            width: 120px;
            z-index: 1;
            background-color: $on-surface;
            border-radius: $border-radius;
            -webkit-box-shadow: 3px 3px 3px 3px black;
            box-shadow: 3px 3px 3px 3px black;
        }
        .drop-content::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 22px solid $on-surface;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            top: -10px;
            right: 45px;
            z-index: -1;
        }
        .link-drop {
            display: block;
            padding: 13px;
            margin: 5px;
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: $surface;
            border: 1px solid $on-surface;
            border-radius: $border-radius;
        }
        .link-drop:hover {
            border: 1px solid $border;
        }
    }

    .link-list.mypage:hover {
        background-color: $surface;
        border-radius: $border-radius;
        color: $on-surface;
    }
    .link-list.mypage:focus-visible {
        border-radius: $border-radius;
        border: 1px solid $border;
    }
    .link-list.mypage::after {
        position: absolute;
        content: "▾";
        font-size: 13px;
        color: $on-background;
        top: 16px;
        right: 5px;
    }
}

.txt-user-id {
    font-size: 13px;
    vertical-align: bottom;
}

.header-cart-qt {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: $secondary;
    border-radius: 50%;
    top: 7px;
    left: 30px;
    font-size: 10px;
    line-height: 13px;
    color: $on-surface;
}

.link-seller-center {
    display: block;
    background: url("/assets/images/icon-shopping-bag.svg") no-repeat;
    background-size: 30px 30px;
    background-position: 20px 9px;
    padding: 0 0 0 30px;
    width: 170px;
    height: 50px;
    background-color: $primary;
    border-radius: $border-radius;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 48px;
    color: $on-surface;
}

.title-seller-center {
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: $on-surface;
    margin-left: 20px;
}

.button-responsive-search,
.button-back {
    display: none;
}

@media (max-width: 830px) {
    .dev-store.responsive {
        display: none;
    }
    .style-wrapper {
        width: 100%;
    }
    .style-search,
    .txt-cart {
        display: none;
        min-width: auto;
    }
    .style-search.responsive {
        position: relative;
        display: block;
        width: 100%;
        padding-left: 0;
        #searchProducts {
            // width: 80%;
            width: 100%;
        }
    }
    .button-responsive-search {
        display: block;
        width: 40px;
        height: 40px;
        padding: 0;
        outline: none;
        border: none;
        border-radius: 50%;
        background: url(/assets/images/icon-search.png) no-repeat;
        background-size: 25px 25px;
        background-position: center;
    }
    .link-list.cart {
        width: 40px;
        height: 40px;
        background-size: 25px 25px;
    }
    .link-list.cart {
        background-position: center;
    }
    .button-responsive-search:hover {
        background-color: $surface;
        border-radius: 50%;
    }
    .link-list.cart:hover {
        border-radius: 50%;
    }
    .button-back {
        display: block;
        width: 50px;
        height: 50px;
        border: 0;
        border-radius: 50%;
        background-color: inherit;
        background-image: url("/assets/images/icon-down-arrow.svg");
        background-repeat: no-repeat;
        background-size: 45px 45px;
        background-position: center;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .button-back:hover {
        background-color: $overlay;
    }
    .header-nav.responsive {
        display: none;
    }
    .autocomplete {
        width: inherit;
    }
}

@media (max-width: 830px) {
    .link-seller-center {
        background-image: none;
        padding: 0;
        width: 110px;
    }
}

@media (max-width: 500px) {
    .link-seller-center {
        width: 50px;
        font-size: 13px;
        line-height: 13px;
        padding: 10px;
        border-radius: 50%;

        .img-center {
            width: 30px;
        }
    }
}
