.section-login {
    width: 550px;
    margin: 50px auto 0;

    .logo {
        width: 100%;
    }

    .form-login {
        width: 100%;
        background-color: white;

        .style-wrapper {
            border: 1px solid $border-color;
            margin-bottom: 30px;
        }

        .style-container {
            padding: 34px 34px 35px 34px;
        }
    }
}

.login-type {
    font-size: 0;

    .button-buyer,
    .button-seller {
        width: calc(100% / 2);
        border: none;
        padding: 19px 77px 18px 76px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }
    .button-buyer {
        background-color: inherit;
    }
    .button-seller {
        background-color: #f2f2f2;
    }
}

.input-login-username {
    margin-bottom: 6px;
}

.input-login-username,
.input-login-password {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $border-color;
}

.input-login-password {
    margin-bottom: 26px;
}

.error-message {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $emphasis-txt-color;
    margin-bottom: 16px;
}

// .input-login-username::placeholder,
// .input-login-password::placeholder {
//     font-style: normal;
//     font-size: 16px;
//     line-height: 16px;
// }

.input-login-username:focus,
.input-login-password:focus {
    outline: none;
}

.input-login-username,
.input-login-password,
.button-login {
    width: 100%;
    font-weight: bold;
}

.button-login {
    margin-top: 10px;
    border: none;
    border-radius: $border-radius;
    background-color: $button-disabled;
    padding: 19px 0;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: $light-txt-color;
    cursor: pointer;
}

.style-link {
    text-align: center;

    a {
        text-decoration: none;
        color: $txt-color;
    }

    .link-signup::after {
        content: "|";
        display: inline-block;
        width: 33px;
        height: 20px;
    }
}
