.section-login {
    width: 550px;
    margin: 50px auto 0;

    .login-header {
        .link-logo {
            display: block;
        }
    }

    .logo {
        width: 100%;
        cursor: pointer;
    }

    .form-login {
        width: 100%;
        background-color: white;
        border-radius: 5px;

        .style-wrapper {
            margin-bottom: 30px;
        }

        .style-container {
            padding: 34px 34px 35px 34px;
        }
    }
}

.login-type {
    font-size: 0;

    .button-buyer,
    .button-seller {
        position: relative;
        width: calc(100% / 2);
        border: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 19px 77px 18px 76px;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: black;
    }
    .button-buyer {
        background-color: inherit;
    }
    .button-seller {
        background-color: #f2f2f2;
    }

    .button-buyer.on {
        border-right: 1px solid #171717;
    }
    .button-seller.help {
        border-bottom: 1px solid #171717;
        border-bottom-left-radius: 5px;
        color: #595959;
        font-weight: lighter;
    }
    .button-buyer.on::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: -3px;
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-bottom-color: white;
    }

    .button-seller.on {
        border-left: 1px solid #171717;
    }
    .button-buyer.help {
        border-bottom: 1px solid #171717;
        border-bottom-right-radius: 5px;
        color: #595959;
        font-weight: lighter;
    }
    .button-seller.on::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -3px;
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-bottom-color: white;
    }
}

.input-login-username {
    margin-bottom: 6px;
}

.input-login-username,
.input-login-password {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $border-color;
}

.input-login-password {
    margin-bottom: 26px;
}

.input-login-username:focus,
.input-login-password:focus {
    background-color: #f2f2f2;
}

.error-message {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $emphasis-txt-color;
    margin-bottom: 16px;
}

.input-login-username:focus,
.input-login-password:focus {
    outline: none;
}

.input-login-username,
.input-login-password,
.button-login {
    width: 100%;
    font-weight: bold;
}

.button-login {
    margin-top: 10px;
    border: none;
    border-radius: $border-radius;
    background-color: $button-disabled;
    padding: 19px 0;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: $light-txt-color;
}

.style-link {
    text-align: center;

    a {
        text-decoration: none;
        color: #595959;
    }

    .link-signup::after {
        content: "|";
        display: inline-block;
        width: 33px;
        height: 20px;
    }
}
