// 슬라이드
.slide-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 80px;
}

.slide-container {
    position: absolute;
    width: 100%;
    left: 0;
}

.slide {
    background-repeat: no-repeat;
    width: 1200px;
    height: 500px;
    left: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    overflow: hidden;
}

.slide-container.animated {
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
}

.button-prev {
    background-image: url("../images/icon-swiper-left.png");
    margin-left: -580px;
}

.button-next {
    background-image: url("../images/icon-swiper-right.png");
    margin-left: 530px;
}

.button-prev,
.button-next {
    position: absolute;
    background-size: 60px 120px;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #595959;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

// 페이저
.pager {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;

    span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: $button-border;
        border-radius: 50%;
        margin: 0 5px;
    }

    span.active {
        background: white;
    }
}

// 상품
.section-products {
    padding-top: 80px;
    padding-bottom: 180px;
}

.list-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 78px;

    li {
        background-color: #303134;
        border-radius: 10px;
    }

    li:hover {
        -webkit-box-shadow: 10px 10px 10px 5px black;
        box-shadow: 10px 10px 10px 5px black;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

// 링크
.link-product {
    text-decoration: none;
    color: white;
}

// 상품 이미지
.style-wrapper-img {
    width: 380px;
    height: 380px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;

    .img-product {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.style-wrapper-SNP {
    padding: 20px;
}
// 셀러
.txt-seller {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

// 상품명
.txt-product-name {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0;
}

// 가격
.txt-price-number {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.txt-price-unit {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
