.slide-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 80px;
}

.slide-container {
    position: absolute;
    width: 100%;
    left: 0;
}

.slide {
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    overflow: hidden;
}

.slide-container :nth-child(1) {
    background: url("/assets/images/slide_1.png");
}
.slide-container :nth-child(2) {
    background: url("/assets/images/slide_2.png");
}
.slide-container :nth-child(3) {
    background: url("/assets/images/slide_3.png");
}

.slide-container.animated {
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
}

.button-prev {
    background-image: url("/assets/images/icon-swiper-left.png");
    margin-left: -580px;
}

.button-next {
    background-image: url("/assets/images/icon-swiper-right.png");
    margin-left: 530px;
}

.button-prev,
.button-next {
    position: absolute;
    background-size: 60px 120px;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: $button-slide;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.pager {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;

    span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: $button-border;
        border-radius: 50%;
        margin: 0 5px;
    }

    span.active {
        background: $on-surface;
    }
}

.section-products {
    padding-top: 40px;
    padding-bottom: 180px;
}

.list-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 78px;

    li {
        background-color: $surface;
        border-radius: $border-radius;
        overflow: hidden;
    }

    li:hover {
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        -webkit-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
        transform: translate(0, -5px);
    }
}

.link-product {
    text-decoration: none;
    color: $on-surface;
    cursor: pointer;

    position: relative;
}

.link-product > span {
    position: absolute;
    border-radius: 50%;
    background-color: $pressed;

    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    -webkit-animation: glow-out 1.2s;
    animation: glow-out 1.2s;
    opacity: 0;
}

@-webkit-keyframes glow-out {
    from {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(20);
        transform: scale(20);
    }
}

@keyframes glow-out {
    from {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(20);
        transform: scale(20);
    }
}

.style-wrapper-img {
    width: 380px;
    height: 380px;
    border-radius: $border-radius;
    overflow: hidden;

    .img-product {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        background-color: $overlay;
    }
}
.style-wrapper-img.card {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.style-wrapper-SNP {
    padding: 20px;
}
.txt-seller {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $primary;
    width: 100px;
    @include ellipsis;
}

.txt-product-name {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0;
    width: auto;
    @include ellipsis;
}

.container-date-shipping-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.card-container-shipping-method {
    margin-bottom: 5px;
    text-align: right;
    font-size: 13px;
    @include low-emphasis;
}

.card-container-price {
    .txt-price-number {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: $secondary;
    }

    .txt-price-unit {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: $secondary;
    }
}

.search-txt-date {
    font-size: 13px;
    @include low-emphasis;
}
.search-date {
    margin-left: 5px;
}

.container-product-quantity-link {
    display: inline-block;
    @include low-emphasis;
}
.search-txt-quantity {
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;

    .search-number-quantity {
        padding-left: 5px;
    }
}

.link-all-products {
    position: relative;
    text-decoration: none;
    color: $on-background;
    margin-left: 10px;
    font-size: 13px;
}

.link-all-products::before {
    content: "|";
    position: absolute;
    top: 2px;
    left: -9px;
    font-size: 13px;
}

.link-all-products:hover {
    text-decoration: underline;
}

#spinner {
    margin: 30px auto;
    @include spinner;
}

@media (max-width: 1200px) {
    .article-slide {
        display: none;
    }
}

@media (max-width: 768px) {
    .section-products {
        padding: 0 10px 180px;
    }
    .style-wrapper-img {
        width: auto;
        height: 200px;
    }
    .search-txt-date {
        display: none;
    }
    .container-date-shipping-price {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .txt-seller {
        width: 100px;
    }
}

@media (max-width: 650px) {
    .style-wrapper-img {
        height: 150px;
    }
    .list-products {
        grid-template-columns: 1fr 1fr;
        -webkit-column-gap: 15px;
        -moz-column-gap: 15px;
        column-gap: 15px;
        row-gap: 30px;
    }
    .txt-seller {
        position: relative;
    }
    .button-seller-info {
        position: absolute;
    }
    .style-wrapper-SNP {
        padding: 10px;
    }
    .card-container-price .txt-price-number {
        font-size: 22px;
    }
}
