// 슬라이드
.slide-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 80px;
}

.slide-container {
    position: absolute;
    width: 100%;
    left: 0;
}

.slide {
    background-repeat: no-repeat;
    width: 1200px;
    height: 500px;
    left: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    overflow: hidden;
}

.slide-container.animated {
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
}

.button-prev {
    background-image: url("../images/icon-swiper-left.png");
    margin-left: -580px;
}

.button-next {
    background-image: url("../images/icon-swiper-right.png");
    margin-left: 530px;
}

.button-prev,
.button-next {
    position: absolute;
    background-size: 60px 120px;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #595959;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

// 페이저
.pager {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;

    span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: $button-border;
        border-radius: 50%;
        margin: 0 5px;
    }

    span.active {
        background: white;
    }
}

// 상품
.section-products {
    padding-top: 40px;
    padding-bottom: 180px;
}

.list-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 78px;

    li {
        background-color: #303134;
        border-radius: 10px;
        overflow: hidden;
    }

    li:hover {
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        -webkit-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
        transform: translate(0, -5px);
    }
}

// 링크
.link-product {
    text-decoration: none;
    color: white;
    cursor: pointer;

    position: relative;
}

.link-product > span {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);

    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    -webkit-animation: glow-out 1.2s;
    animation: glow-out 1.2s;
    opacity: 0;
}

@-webkit-keyframes glow-out {
    from {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(20);
        transform: scale(20);
    }
}

@keyframes glow-out {
    from {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(20);
        transform: scale(20);
    }
}

// 상품 이미지
.style-wrapper-img {
    width: 380px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;

    .img-product {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        background-color: #171717;
    }
}
.style-wrapper-img.card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.style-wrapper-SNP {
    padding: 20px;
}
// 셀러
.txt-seller {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $point-purple;
}

// 상품명
.txt-product-name {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0;
}

// 등록일-배송비-가격
.container-date-shipping-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

// 배송비
.card-container-shipping-method {
    margin-bottom: 5px;
    text-align: right;
    font-size: 13px;
    color: #c0c0c0;
}

// 가격
.card-container-price {
    .txt-price-number {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: $point-red;
    }

    .txt-price-unit {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: $point-red;
    }
}

// 등록일, 수정일
.search-txt-date {
    font-size: 13px;
    color: #c0c0c0;
}
.search-date {
    margin-left: 5px;
}

// 상품수, 전체상품보기
.container-product-quantity-link {
    display: inline-block;
    color: #bdc1c6;
}
.search-txt-quantity {
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;

    .search-number-quantity {
        padding-left: 5px;
    }
}

.link-all-products {
    position: relative;
    text-decoration: none;
    color: $soft-white;
    margin-left: 10px;
    font-size: 13px;
    color: #bdc1c6;
}

.link-all-products::before {
    content: "|";
    position: absolute;
    top: 2px;
    left: -9px;
    color: #bdc1c6;
    font-size: 13px;
}

.link-all-products:hover {
    text-decoration: underline;
}
