@mixin low-emphasis {
    color: $on-surface;
    opacity: 0.6;
}

@mixin ellipsis {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin spinner {
    width: 50px;
    height: 50px;
    border: 5px solid $on-surface;
    border-radius: 50%;
    border-top-color: $primary;
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
