.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: none;
    background-color: $pressed;
    z-index: 9999;
}

.modal.show {
    display: block;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px;
    height: 200px;
    text-align: center;
    border-radius: $border-radius;
    -webkit-box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    background-color: $on-surface;

    .button-close {
        position: fixed;
        top: 18px;
        right: 18px;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        width: 22px;
        height: 22px;
        background: url("/assets/images/icon-delete.png") no-repeat;
        background-size: 22px 22px;
        background-position: center center;
        cursor: pointer;
    }
    .modal-wrapper-txt {
        margin: 50px 0 30px;

        .txt-goToLogin,
        .txt-notify-google {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: $surface;
        }
    }

    .modal-wrapper-txt.delete {
        margin: 60px 0 30px;
    }

    .modal-wrapper-button {
        font-size: 0;

        .button-no,
        .button-yes,
        .button-confirm {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: $border-radius;
            width: 100px;
            height: 40px;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            cursor: pointer;
        }

        .button-no,
        .button-confirm {
            border: 1px solid #c4c4c4;
            color: $surface;
            margin-right: 10px;
        }

        .button-yes {
            background-color: $primary;
            color: $on-surface;
        }
    }
}
