.style-wrapper-move {
    width: 400px;
    background-color: white;
    padding: 20px 0;
    margin: 50px auto 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 10px 10px 10px black;
            box-shadow: 10px 10px 10px black;
}

.txt-info {
    vertical-align: bottom;
}

.sec {
    position: relative;
    top: 3px;
    display: inline-block;
    -webkit-animation: bounce 0.3s ease infinite alternate;
            animation: bounce 0.3s ease infinite alternate;
    color: #a158fe;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 50px 25px rgba(0, 0, 0, 0.1);
    }
}

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 50px 25px rgba(0, 0, 0, 0.1);
    }
}
