.section-payment-products {
    color: $on-surface;
    text-align: center;
}
.title-payment {
    color: $on-surface;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    margin: 20px 0 52px;
}

.payment-row {
    background: #303134;
    border-radius: $border-radius;
    text-align: left;
    font-size: 18px;
    line-height: 23px;
    padding: 19px 0 18px;

    .payment-row-list {
        display: grid;
        grid-template-columns: 46% 18% 17.8% 18.2%;
        justify-items: center;
    }
}

.payment-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    padding: 35px 0;
}

.style-wrapper-order-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}
.wrapper-payment-product {
    position: relative;
    display: grid;
    grid-template-columns: 46% 18% 17.8% 18.2%;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 3px solid $border;
    border-radius: $border-radius;
    padding: 20px 0;

    .payment-product-info-col {
        justify-self: start;
        font-size: 0;

        .style-wrapper-img.small {
            width: 104px;
            height: 104px;
            margin: 0;
            display: inline-block;
            margin-left: 20px;
        }

        .payment-detail-list {
            vertical-align: top;
            text-align: left;
            display: inline-block;
            margin-left: 36px;

            li:nth-child(2) {
                margin: 6px 0 10px;
            }

            .payment-txt-seller {
                font-size: 14px;
                line-height: 18px;
                @include low-emphasis;
            }
            .payment-txt-product-name {
                font-size: 18px;
                line-height: 22px;
            }
            .payment-txt-quantity {
                font-size: 14px;
                line-height: 18px;
                @include low-emphasis;
            }
        }
    }

    .payment-discount-col {
        font-size: 18px;
        line-height: 23px;
        @include low-emphasis;
    }

    .payment-shipping-col {
        .payment-txt-shipping {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            @include low-emphasis;
        }
    }

    .payment-order-amount-col {
        .payment-txt-amount {
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
        }
    }
}

.wrapper-payment-total-amount {
    text-align: right;
}
.payment-txt-total-amount {
    display: inline;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}
.payment-num-total-amount,
.payment-unit-total-amount {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $secondary;
}

.section-shipping-info {
    color: $on-surface;
    font-size: 16px;
    margin: 50px 0;

    .title-shipping-info,
    .title-payment-method {
        border-bottom: 2px solid $border;
        padding-bottom: 18px;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
    }

    input {
        width: 334px;
        border: none;
        border-radius: $border-radius;
        padding: 9px 0 9px 3px;
        margin: 0;
        font-size: 16px;
        color: $on-surface;
        background-color: $surface;
    }

    input:focus {
        outline: 2px solid #c0c0c0;
    }
}

.fieldset-shipping-info {
    margin-top: 40px;
}
.legend-shipping-info {
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 4px;
    border-bottom: 2px solid $border;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}
.style-wrapper-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 0;
    border-bottom: 1px solid $border;
}
.input-title {
    width: 170px;
    padding: 8px 0;
    font-size: 16px;
    line-height: 20px;
}
.dash {
    display: inline-block;
    margin: 0 7px;
    font-size: 16px;
}

#input-orderer-phone-middle,
#input-recipient-phone-middle,
#input-orderer-phone-last,
#input-recipient-phone-last {
    width: 100px;
    text-align: center;
}

.input-orderer-phone.first,
.input-recipient-phone.first {
    width: 95px;
    height: 40px;
    border-radius: $border-radius;
    border: none;
    background-color: $surface;
    text-align: center;
    font-size: 16px;
    color: $on-surface;
}

.zip-code-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#input-zip-code {
    width: 170px;
    margin-right: 10px;
}
#input-zip-code:focus,
#input-address-main {
    outline: none;
}

.find-zip-code {
    background-color: $primary;
    padding: 10px 30px;
    margin: 0;
    border: none;
    border-radius: $border-radius;
    -webkit-box-shadow: none;
    box-shadow: none;
    vertical-align: sub;
    font-size: 16px;
    line-height: 20px;
    color: $on-surface;
    cursor: pointer;
}

.find-zip-code:focus {
    outline: 2px solid #c0c0c0;
}

#input-address-main,
#input-address-sub,
#input-message {
    width: 800px;
}
.address-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 9px;
}

.style-wrapper-method-final {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    margin-top: 50px;
    .article-payment-method {
        width: 60%;
    }
    .article-final-payment {
        width: 40%;
    }
}

.method-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 2px solid $border;
    padding: 18px 0;
    input[name="payment_method"] {
        width: initial;
        margin-left: 10px;
    }
    label {
        padding-left: 5px;
    }
}

.article-final-payment {
    border-radius: $border-radius;

    .title-final-payment {
        padding-bottom: 18px;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
    }

    .style-wrapper-final {
        padding: 30px;
        background-color: $on-surface;
        color: $background;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            font-size: 16px;
            line-height: 20px;
        }

        .final-calc-element {
            border-bottom: 1px solid $border;
            margin-bottom: 24px;

            li {
                margin-bottom: 15px;
            }
        }
    }
}
.num-final-price,
.num-final-discount,
.num-final-shipping {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: $background;
}
.txt-final-unit {
    font-size: 14px;
    line-height: 18px;
}
.num-final-payment {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $secondary;
}

.style-wrapper-gray {
    padding: 30px;
    background: $on-background;
    color: $background;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}
.style-wrapper-final-agree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;

    input[type="checkbox"] {
        width: 22px;
        height: 22px;
        border: 1px solid $border;
        border-radius: 0;
        margin: 0 10px 10px 0px;
        vertical-align: top;
    }
}
.button-payment.off {
    display: block;
    border: none;
    border-radius: $border-radius;
    background-color: $button-disabled;
    padding: 8px 55px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: $on-surface;
    cursor: default;
}
.button-payment {
    display: block;
    border: none;
    border-radius: $border-radius;
    background-color: $primary;
    padding: 8px 55px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: $on-surface;
    cursor: pointer;
}

.payment-error-message {
    font-size: 16px;
    color: $secondary;
    padding-left: 20px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.message-container {
    width: 800px;
    position: relative;
}
#input-message {
    position: absolute;
    background: url("/assets/images/icon-down-arrow.svg") no-repeat;
    background-size: 25px 25px;
    background-position: 99%;
    background-color: $surface;
    padding-right: 30px;
}

.comment-wrapper {
    width: 800px;
    display: none;
    position: absolute;
    top: 38px;
    padding: 10px;
    background-color: $surface;
    border: 1px solid $border;
    font-size: 16px;
    line-height: 20px;

    li {
        padding-left: 5px;
    }

    li:hover {
        background: $overlay;
        border-radius: $border-radius;
        cursor: pointer;
    }
    ul > :nth-child(1),
    ul > :nth-child(2) {
        margin-bottom: 10px;
    }
}
