.style-wrapper-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.large {
    min-width: 550px;
    height: 550px;
    margin-bottom: 0;
}

.style-container-detail-contents {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 30px;
}

.product-detail-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100% - 100px);
    color: white;
}

.product-detail-list > li:nth-child(1) {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.product-detail-list > li:nth-child(2) {
    -webkit-box-flex: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
}
.product-detail-list > li:nth-child(3) {
    -webkit-box-flex: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
}
.product-detail-list > li:nth-child(4) {
    -webkit-box-flex: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
}
.product-detail-list > li:nth-child(5) {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.product-detail-list > li:nth-child(6) {
    -webkit-box-flex: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
}

.detail-txt-seller {
    font-size: 18px;
    line-height: 23px;
    // margin-bottom: 16px;
}

.detail-txt-product-name {
    font-size: 36px;
    line-height: 45px;
}

.detail-product-price {
    // TODO: 높이 조절하기
    // margin: 20px 0 138px;

    .detail-txt-price-number {
        font-weight: bold;
        font-size: 36px;
        line-height: 45px;
    }

    .detail-txt-price-unit {
        font-size: 18px;
        line-height: 23px;
    }
}

.detail-shipping-method,
.detail-shipping-fee {
    font-size: 16px;
    line-height: 20px;
}

// 수량
.style-wrapper-quantity {
    font-size: 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    // padding: 45px 0;
    // margin: 20px 0 32px;
    height: 100%;
    padding-top: 40px;

    .button-quantity {
        width: 45px;
        height: 45px;
        border: 1px solid $button-border;
        vertical-align: bottom;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    .button-quantity.minus {
        border-radius: $border-radius 0 0 $border-radius;
        background: url(../images/icon-minus.png) no-repeat;
        background-position: center;
        background-size: 15px 15px;
    }

    .button-quantity.plus {
        border-radius: 0 $border-radius $border-radius 0;
        background: url(../images/icon-plus.png) no-repeat;
        background-position: center;
        background-size: 15px 15px;
    }

    .input-quantity {
        width: 50px;
        height: 45px;
        border: 1px solid $button-border;
        border-radius: 0;
        border-left: none;
        border-right: none;
        padding: 0;
        margin: 0;
        text-align: center;
        background-color: $main-color;
        font-size: 18px;
        color: white;
        cursor: default;
    }
    .input-quantity:focus {
        outline: none;
    }

    .txt-stock {
        display: inline;
        margin-left: 15px;
        font-size: 16px;
    }
}

// 토탈
.style-wrapper-total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 350px;

    .detail-txt-total-price {
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    .style-container-total {
        font-size: 18px;
        line-height: 23px;
        -ms-flex-item-align: end;
        align-self: flex-end;

        // 총 수량
        .detail-txt-total-quantity {
            display: inline-block;
            vertical-align: bottom;
        }

        .detail-txt-total-quantity::after {
            content: "|";
            margin: 0 5px;
        }

        // 수량
        .detail-number-total-quantity {
            font-weight: bold;
        }

        .detail-number-total-price {
            font-weight: bold;
            font-size: 36px;
            line-height: 36px;
            display: inline-block;
            vertical-align: bottom;
        }

        .detail-txt-total-price-unit {
            vertical-align: bottom;
        }
    }
}

// 바로 구매 및 장바구니 버튼
.button-buy {
    // width: 400px;
    min-width: 100px;
    background-color: $point-purple;
}

.button-cart {
    // width: 180px;
    min-width: 100px;
    background-color: $point-red;
    // margin-left: 15px;
}

.button-buy,
.button-cart {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-radius: $border-radius;
    padding: 15px 0;
    // margin-top: 10px;
    color: white;
    cursor: pointer;
}

// 상세탭
.style-wrapper-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 140px 0 30px;
    -webkit-box-shadow: 5px -5px 5px black;
    box-shadow: 5px -5px 5px black;

    li {
        width: 25%;
        text-align: center;
        cursor: pointer;
    }

    .style-container-info {
        width: 100%;
        padding: 20px 0;
        border-bottom: 3px solid white;

        .link-product-info {
            display: inline-block;
            width: 100%;
            text-decoration: none;
            color: white;
        }
    }

    .style-container-info:hover {
        background-color: white;
        -webkit-transition: all ease 1s 0s;
        -o-transition: all ease 1s 0s;
        transition: all ease 1s 0s;
        .link-product-info {
            color: black;
            font-weight: bold;
        }
    }
}
