.style-wrapper-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.style-wrapper-detail::after {
    content: "";
    display: block;
    padding-bottom: 50%;
}

.large {
    width: 600px;
    height: 600px;
    margin-bottom: 0;
    border-radius: 0;
    background-color: black;
}

.style-container-detail-contents {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 92% 8%;
    background-color: #171717;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

.product-detail-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.product-detail-list > li:nth-child(1) {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.product-detail-list > li:nth-child(2) {
    -webkit-box-flex: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
}
.product-detail-list > li:nth-child(3) {
    -webkit-box-flex: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
}
.product-detail-list > li:nth-child(4) {
    -webkit-box-flex: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
}
.product-detail-list > li:nth-child(5) {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.product-detail-list > li:nth-child(6) {
    -webkit-box-flex: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
    padding-top: 30px;
}

.detail-txt-seller {
    font-size: 18px;
    line-height: 23px;
}

.detail-txt-seller,
.detail-txt-total-price,
.detail-txt-total-quantity,
.button-buy,
.button-cart {
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.detail-txt-product-name {
    font-size: 36px;
    line-height: 45px;
    width: inherit;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.detail-txt-price-number {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
}

.detail-txt-price-unit {
    font-size: 18px;
    line-height: 23px;
}

.detail-shipping-method,
.detail-shipping-fee {
    font-size: 16px;
    line-height: 20px;
}

.style-wrapper-quantity {
    font-size: 0;

    .button-quantity {
        width: 45px;
        height: 45px;
        border: 1px solid $button-border;
        vertical-align: bottom;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    .button-quantity.minus {
        border-radius: $border-radius 0 0 $border-radius;
        background: url(/assets/images/icon-minus.png) no-repeat;
        background-position: center;
        background-size: 15px 15px;
    }

    .button-quantity.plus {
        border-radius: 0 $border-radius $border-radius 0;
        background: url(/assets/images/icon-plus.png) no-repeat;
        background-position: center;
        background-size: 15px 15px;
    }

    .input-quantity {
        width: 50px;
        height: 45px;
        border: 1px solid $button-border;
        border-radius: 0;
        border-left: none;
        border-right: none;
        padding: 0;
        margin: 0;
        text-align: center;
        background-color: $main-color;
        font-size: 18px;
        color: white;
        cursor: default;
    }
    .input-quantity:focus {
        outline: none;
    }

    .txt-stock {
        display: inline;
        margin-left: 15px;
        font-size: 16px;
    }
}

.style-wrapper-total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .detail-txt-total-price {
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    .style-container-total {
        font-size: 18px;
        line-height: 23px;
        -ms-flex-item-align: end;
        align-self: flex-end;
        min-width: -webkit-max-content;
        min-width: -moz-max-content;
        min-width: max-content;

        .detail-txt-total-quantity {
            display: inline-block;
            vertical-align: bottom;
        }

        .detail-txt-total-quantity::after {
            content: "|";
            margin: 0 5px;
        }

        .detail-number-total-quantity {
            font-weight: bold;
        }

        .detail-number-total-price {
            font-weight: bold;
            font-size: 36px;
            line-height: 36px;
            display: inline-block;
            vertical-align: bottom;
        }

        .detail-txt-total-price-unit {
            vertical-align: bottom;
        }
    }
}

.button-buy {
    background-color: $point-purple;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.button-cart {
    background-color: $point-red;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.button-buy,
.button-cart {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: $border-radius;
    color: white;
    cursor: pointer;
}

.img-tab {
    margin-bottom: 50px;
}

.style-wrapper-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 140px 0 30px;
    -webkit-box-shadow: 5px -5px 5px black;
    box-shadow: 5px -5px 5px black;

    li {
        width: 25%;
        text-align: center;
        cursor: pointer;
    }

    .style-container-info {
        width: 100%;
        padding: 20px 0;
        border-bottom: 3px solid white;

        .link-product-info {
            display: inline-block;
            width: 100%;
            text-decoration: none;
            color: white;
        }
    }

    .style-container-info:hover {
        background-color: white;
        -webkit-transition: all ease 1s 0s;
        -o-transition: all ease 1s 0s;
        transition: all ease 1s 0s;
        .link-product-info {
            color: black;
            font-weight: bold;
        }
    }
}

.product-detail-bar {
    display: none;
}
@media (max-width: 768px) {
    .style-wrapper-detail {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #171717;

        .style-wrapper-img.large {
            width: 100%;
            height: auto;
        }
        .style-container-detail-contents {
            width: 100%;
            height: 500px;
        }
    }

    .style-wrapper-total {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .button-buy,
    .button-cart {
        height: 45px;
    }

    .style-wrapper-detail::after {
        display: none;
    }
}

@media (max-width: 390px) {
    .link-product-info {
        font-size: 13px;
    }
}
