.search-title3 {
    font-size: 18px;
    color: $soft-white;
    margin-bottom: 30px;

    .search-keyword {
        font-weight: bold;
        color: $point-green;
    }
}

.style-wrapper-filter {
    text-align: right;
    font-size: 0;
    color: $soft-white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #171717;
    padding: 8px 8px 8px 13px;
    border-radius: 5px;

    .sort-order {
        .sort {
            position: relative;
            display: inline-block;
            border: none;
            outline: none;
            background-color: inherit;
            padding: 0;
            margin: 0 10px;
            font-size: 13px;
            color: $soft-white;
            text-decoration: none;
        }
        .sort:hover {
            cursor: pointer;
            text-decoration: underline;
        }
        .sort::before {
            position: absolute;
            content: "";
            background-color: $soft-white;
            background-size: 3px 3px;
            width: 3px;
            height: 3px;
            top: 50%;
            left: -6px;
        }
        .sort.on::before {
            position: absolute;
            content: "";
            background: url("../images/icon-check.svg") no-repeat center center;
            background-size: 10px 10px;
            width: 10px;
            height: 10px;
            top: 5px;
            left: -10px;
        }
    }

    .search-view-quantity {
        position: relative;
        display: inline-block;
        background-color: #303134;
        width: 110px;
        padding-left: 10px;
        margin-right: 10px;
        text-align: left;
        cursor: pointer;

        a {
            color: $soft-white;
            text-decoration: none;
            font-size: 13px;
            line-height: 30px;
        }

        .list-view-quantity {
            position: absolute;
            background-color: #303134;
            width: 110px;
            display: none;
            top: 30px;
            left: 0;
        }

        .list-view-quantity.show {
            display: block;
            z-index: 9999;
        }

        .list-view-quantity > li {
            padding-left: 10px;
        }
        .list-view-quantity > li:hover {
            background-color: #191919;
        }
    }

    .search-view-method {
        position: relative;
        display: inline-block;
        font-size: 0;
        vertical-align: top;

        .search-view.list,
        .search-view.grid {
            border: 1px solid #303134;
            display: inline-block;
            width: 30px;
            height: 30px;
            padding: 0;
            margin: 0;
            outline: none;
            background-color: inherit;
            cursor: pointer;
        }

        .search-view.list.on,
        .search-view.list:focus,
        .search-view.grid.on,
        .search-view.grid:focus {
            background-color: $point-purple;
        }

        .search-view.list:after {
            position: absolute;
            content: "";
            background: url("../images/icon-list.svg") no-repeat center center;
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            top: 5px;
            left: 5px;
        }

        .search-view.grid:after {
            position: absolute;
            content: "";
            background: url("../images/icon-grid.svg") no-repeat center center;
            width: 22px;
            height: 22px;
            background-size: 22px 22px;
            top: 4px;
            left: 34px;
        }
    }
}

.style-wrapper-search {
    color: $soft-white;
    margin: 30px 0 100px;

    .list-search-items {
        border: 3px solid #303134;
        border-radius: 5px;
        padding: 20px;
    }

    .list-search-items > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .style-wrapper-img.small {
        width: 150px;
        height: 150px;
        border-radius: 5px;
        cursor: pointer;
    }

    .search-product-info {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding: 0 20px;
        position: relative;

        .link-search-name {
            text-decoration: none;
            color: white;

            .search-txt-product-name {
                font-weight: bold;
                font-size: 18px;
            }
        }
        .link-search-name:hover {
            text-decoration: underline;
        }

        .search-product-price {
            font-size: 18px;
            color: $point-red;
        }

        .search-txt-productinfo,
        .search-txt-date {
            font-size: 13px;
            color: #bdc1c6;
        }
    }

    .search-product-info::after {
        position: absolute;
        content: "";
        background: #303134;
        background-size: 1px 100%;
        width: 2px;
        height: 160px;
        top: -5px;
        right: 50px;
    }

    .search-product-info > li:nth-child(1),
    .search-seller-info > li:nth-child(1) {
        margin-bottom: 10px;
    }
    .search-product-info > li:nth-child(2),
    .search-seller-info > li:nth-child(2) {
        margin-bottom: 15px;
    }
    .search-seller-info > li:nth-child(2) {
        color: #bdc1c6;
        font-size: 13px;
    }
    .search-product-info > li:nth-child(4) {
        bottom: 0;
        position: absolute;
    }

    .search-seller-info {
        position: relative;
        width: 250px;
        -ms-flex-item-align: center;
        align-self: center;

        .search-txt-seller {
            display: inline-block;
            font-size: 18px;
            color: $point-purple;
        }

        .search-txt-quantity {
            display: inline-block;
            margin-right: 5px;

            .search-number-quantity {
                padding-left: 5px;
            }
        }

        .button-seller-info {
            width: 50px;
            border: 1px solid #3c4043;
            border-radius: 5px;
            background-color: #171717;
            padding: 5px 0;
            margin: 0 0 0 10px;
            font-size: 13px;
            color: white;
            cursor: pointer;
        }
        .button-seller-info:focus {
            outline: none;
        }

        .link-all-products {
            position: relative;
            text-decoration: none;
            color: $soft-white;
            margin-left: 10px;
            color: #bdc1c6;
        }

        .link-all-products::before {
            content: "|";
            position: absolute;
            top: 2px;
            left: -9px;
            color: #bdc1c6;
        }

        .link-all-products:hover {
            text-decoration: underline;
        }
    }
}

.style-wrapper-search > li:not(:last-child) {
    margin-bottom: 15px;
}
