.section-signup {
    width: 550px;
    margin: 50px auto 0;

    .signup-header {
        .link-logo {
            display: block;
        }
    }

    .logo {
        width: 100%;
        cursor: pointer;
    }

    .form-signup {
        width: 100%;
        background-color: $background-color;
        .style-wrapper {
            border: 1px solid $border-color;
            background-color: white;
            border-radius: 5px;
        }

        .style-container {
            padding: 40px 34px 35px;
        }
    }
}

.signup-type {
    font-size: 0;

    .button-buyer,
    .button-seller {
        width: calc(100% / 2);
        border: none;
        padding: 19px 87px 18px 86px;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: black;
        position: relative;
    }
    .button-buyer {
        background-color: inherit;
    }
    .button-seller {
        background-color: #f2f2f2;
    }

    .button-buyer.on {
        border-right: 1px solid #171717;
    }
    .button-seller.help {
        border-bottom: 1px solid #171717;
        border-bottom-left-radius: 5px;
        color: #595959;
        font-weight: lighter;
    }
    .button-buyer.on::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: -3px;
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-bottom-color: white;
    }

    .button-seller.on {
        border-left: 1px solid #171717;
    }
    .button-buyer.help {
        border-bottom: 1px solid #171717;
        border-bottom-right-radius: 5px;
        color: #595959;
        font-weight: lighter;
    }
    .button-seller.on::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -3px;
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-bottom-color: white;
    }
}

.label-block {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 20px;
}

input {
    border: 1px solid $border-color;
    padding: 16px 15px 16px;
    border-radius: $border-radius;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

input:focus {
    outline: 1px solid $main-color;
}

input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

input::-moz-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

input:-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

input::-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

#password,
#password2,
#name,
#storeName {
    width: 100%;
}

.input-signup-username,
#companyRegistrationNumber {
    width: 346px;
}

.username-duplicate-check,
.crn-duplicate-check {
    width: 122px;
    border: none;
    padding: 18px 0;
    color: $light-txt-color;
    background-color: $dark-blue;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 20px;
    margin-left: 8px;
    border-radius: $border-radius;
    vertical-align: middle;
    cursor: pointer;
}

// 휴대폰번호
.phoneNumber {
    width: 152px;
}

.phoneNumber.first {
    padding: 16px 50px 16px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: url("../images/icon-down-arrow.svg") no-repeat;
    background-size: 22px 22px;
    background-position: calc(100% - 14px);
}

.phoneNumber.first:focus {
    outline: 1px solid $main-color;
}

.phoneNumber.middle,
.phoneNumber.last {
    margin-left: 8px;
    text-align: center;
}

// 개인정보 동의
.pia-check-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 34px;
    padding-bottom: 25px;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    border: 1px solid $border-color;
    border-radius: 0;
    margin: 3px 10px 10px 0px;
    cursor: pointer;
}

input[type="checkbox"]:focus {
    outline: none;
}

.label-pia {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
    color: white;

    .important {
        font-weight: bold;
        text-decoration: underline;
    }
}

.message {
    display: block;
    color: $emphasis-txt-color;
    margin-bottom: 20px;
    font-weight: bolder;
}

.possible {
    color: $possible-txt-color;
}

.policy-box {
    position: relative;
    overflow: auto;
    height: 88px;
    padding: 12px;
    border: 1px solid $border-color;
    margin-bottom: 34px;
    background-color: #fff;
}

.policy-text {
    font-size: 12px;
    line-height: 16px;

    .first-sentence {
        display: block;
        font-weight: bolder;
    }
}

.button-signup {
    display: block;
    width: 100%;
    border: none;
    border-radius: $border-radius;
    background-color: $button-disabled;
    padding: 19px 0;
    margin-bottom: 110px;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 22px;
    color: $light-txt-color;
}
