.section-signup {
    width: 550px;
    margin: 50px auto 0;
    color: $surface;

    .signup-header {
        .link-logo {
            display: block;
        }
    }

    .logo {
        width: 100%;
        cursor: pointer;
    }

    .form-signup {
        width: 100%;
        background-color: $background;
        margin-top: 20px;

        .style-wrapper {
            border: 1px solid $border;
            background-color: $on-surface;
            border-radius: $border-radius;
        }

        .style-container {
            padding: 40px 34px 35px;
        }
    }
}

.signup-type {
    font-size: 0;

    .button-buyer,
    .button-seller {
        width: calc(100% / 2);
        border: none;
        padding: 19px 87px 18px 86px;
        font-size: 16px;
        line-height: 22px;
        cursor: pointer;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        color: $background;
        position: relative;
    }
    .button-buyer {
        background-color: inherit;
    }
    .button-seller {
        background-color: $on-background;
    }

    .button-buyer.on {
        border-right: 1px solid $border;
    }
    .button-seller.help {
        border-bottom: 1px solid $border;
        border-bottom-left-radius: $border-radius;
        color: $surface;
        font-weight: lighter;
    }
    .button-buyer.on::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: -3px;
        width: 0;
        height: 0;
        border: 13px solid transparent;
        border-bottom-color: $on-surface;
    }

    .button-seller.on {
        border-left: 1px solid $border;
    }
    .button-buyer.help {
        border-bottom: 1px solid $border;
        border-bottom-right-radius: $border-radius;
        color: $surface;
        font-weight: lighter;
    }
    .button-seller.on::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -3px;
        width: 0;
        height: 0;
        border: 13px solid transparent;
        border-bottom-color: $on-surface;
    }
}

.label-block {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

input {
    border: 1px solid $border;
    padding: 16px 15px 16px;
    border-radius: $border-radius;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

input:focus {
    outline: 1px solid $background;
}

input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

input::-moz-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

input:-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

input::-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

#password,
#password2,
#name,
#storeName {
    width: 100%;
}

.style-container-input-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-signup-username,
#companyRegistrationNumber {
    width: 80%;
}

.username-duplicate-check,
.crn-duplicate-check {
    width: 120px;
    height: 54px;
    border: none;
    color: $on-surface;
    background-color: $background;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    margin-left: 8px;
    border-radius: $border-radius;
    vertical-align: middle;
    cursor: pointer;
}

.style-container-phoneNumber {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.phoneNumber {
    width: 33%;
}

.phoneNumber.first {
    height: 54px;
    padding: 0 0 0 20px;
    border: 1px solid $border;
    border-radius: $border-radius;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: url("/assets/images/icon-down-arrow.svg") no-repeat;
    background-size: 22px 22px;
    background-position: calc(100% - 14px);
}

.phoneNumber.first:focus {
    outline: 1px solid $background;
}

.phoneNumber.middle,
.phoneNumber.last {
    height: 54px;
    margin-left: 8px;
    text-align: center;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.pia-check-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 34px;
    padding-bottom: 25px;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    border: 1px solid $border;
    border-radius: 0;
    margin: 3px 10px 10px 0px;
    cursor: pointer;
}

input[type="checkbox"]:focus {
    outline: none;
}

.label-pia {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
    color: $on-surface;

    .important {
        text-decoration: underline;
    }
}

.message {
    display: block;
    color: $error;
    margin-bottom: 20px;
}

.possible {
    color: $success;
}

.policy-box {
    position: relative;
    overflow: auto;
    height: 88px;
    padding: 12px;
    border: 1px solid $border;
    margin-bottom: 34px;
    background-color: $on-surface;
}

.policy-text {
    font-size: 12px;
    line-height: 16px;

    .first-sentence {
        display: block;
    }
}

.button-signup {
    display: block;
    width: 100%;
    border: 1px solid $border;
    background-color: $button-disabled;
    padding: 19px 0;
    margin-bottom: 110px;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: $on-surface;
}

@media (max-width: 580px) {
    .section-signup {
        width: calc(100% - 100px);
        min-width: 300px;
    }
    .signup-type .button-buyer,
    .signup-type .button-seller {
        padding: 15px 0;
        font-size: 15px;
    }
    .button-signup {
        font-size: 15px;
    }
    .message {
        font-size: 15px;
    }
    input::-webkit-input-placeholder {
        font-size: 13px;
        line-height: 13px;
    }
    input::-moz-placeholder {
        font-size: 13px;
        line-height: 13px;
    }
    input:-ms-input-placeholder {
        font-size: 13px;
        line-height: 13px;
    }
    input::-ms-input-placeholder {
        font-size: 13px;
        line-height: 13px;
    }
    input::placeholder {
        font-size: 13px;
        line-height: 13px;
    }
    .phoneNumber.first {
        min-width: 84px;
    }
}
