.style-wrapper-store-introduction {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.title-store {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: $on-surface;
    padding-left: 45px;
}
.title-store::before {
    position: absolute;
    content: "";
    background: url("/assets/images/icon-store.svg") no-repeat center center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
}

@media (max-width: 1000px) {
    .style-wrapper-store-introduction {
        display: none;
    }

    .responsive-seller-name {
        position: fixed;
        left: 10px;
        bottom: 10px;
        width: 185px;
        padding: 15px;
        border-radius: $mobile-radius;
        background-color: $on-surface;
        text-align: center;
        outline: 2px solid lightgray;

        .responsive-txt-seller {
            position: relative;
            padding-left: 30px;
            width: 150px;
            font-weight: bold;
            line-height: 25px;
            color: $surface;
            @include ellipsis;
        }
        .responsive-txt-seller::before {
            position: absolute;
            content: "";
            background: url("/assets/images/icon-store.svg") no-repeat center
                center;
            background-size: 20px 20px;
            width: 20px;
            height: 20px;
            top: 3px;
            left: 5px;
        }
    }
}
