$main-color: #334863;
$txt-color: #333333;
$light-txt-color: #ffffff;
$border-color: #c4c4c4;
$border-radius: 5px;
$sub-border-color: #e0e0e0;
$bg-color: #f2f2f2;
$emphasis-txt-color: #eb5757;
$possible-txt-color: #0c964a;
$sub-txt-color: #828282;
$button-border: #bdbdbd;
$button-disabled: #abb5c2;

$base-font: NotoSansKR;

$background-color: #fdd247;
