$background: #202124;
$surface: #333333;
$on-surface: #ffffff;
$on-background: #e9e9e9;

$overlay: #171717;
$error: #eb5757;
$success: #0c964a;
$scroll: #333333;
$on-scroll: #171717;

$border: #4c4c4c;
$outline: #c4c4c4;
$border-radius: 5px;
$mobile-radius: 30px;

$button-border: #bdbdbd;
$button-disabled: rgba(0, 0, 0, 0.2);
$button-slide: rgba(0, 0, 0, 0.5);
$pressed: rgba(0, 0, 0, 0.4);

$primary: #a158fe;
$primary-variant: #bb86fc;
$secondary: #f24822;

$base-font: NotoSansKR;
