@font-face {
    font-family: NotoSansKR;
    src: local("NotoSansKR Regular"), local("NotoSansKR-Regular"),
        url("../fonts/NotoSansKR-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: NotoSansKR;
    src: local("NotoSansKR Bold"), local("NotoSansKR-Bold"),
        url("../fonts/NotoSansKR-Bold.otf");
    font-weight: bold;
}
