div,
span,
article,
section,
header,
main,
footer,
p,
ul,
li,
label,
a,
nav,
h1,
h2,
h3,
form,
input,
button,
img,
textarea,
table,
thead,
tbody,
tr,
th,
td {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  background-color: #202124;
}

body,
button {
  color: #333333;
  font-family: NotoSansKR;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.max-width {
  width: 1200px;
  max-width: calc(100% - 60px);
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.section-login {
  width: 550px;
  margin: 50px auto 0;
}

.section-login .login-header .link-logo {
  display: block;
}

.section-login .logo {
  width: 100%;
  cursor: pointer;
}

.section-login .form-login {
  width: 100%;
  background-color: white;
}

.section-login .form-login .style-wrapper {
  border: 1px solid #c4c4c4;
  margin-bottom: 30px;
}

.section-login .form-login .style-container {
  padding: 34px 34px 35px 34px;
}

.login-type {
  font-size: 0;
}

.login-type .button-buyer,
.login-type .button-seller {
  width: calc(100% / 2);
  border: none;
  padding: 19px 77px 18px 76px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.login-type .button-buyer {
  background-color: inherit;
}

.login-type .button-seller {
  background-color: #f2f2f2;
}

.input-login-username {
  margin-bottom: 6px;
}

.input-login-username,
.input-login-password {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c4c4c4;
}

.input-login-password {
  margin-bottom: 26px;
}

.input-login-username:focus,
.input-login-password:focus {
  background-color: #f2f2f2;
}

.error-message {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #eb5757;
  margin-bottom: 16px;
}

.input-login-username:focus,
.input-login-password:focus {
  outline: none;
}

.input-login-username,
.input-login-password,
.button-login {
  width: 100%;
  font-weight: bold;
}

.button-login {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #abb5c2;
  padding: 19px 0;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.style-link {
  text-align: center;
}

.style-link a {
  text-decoration: none;
  color: #595959;
}

.style-link .link-signup::after {
  content: "|";
  display: inline-block;
  width: 33px;
  height: 20px;
}

.section-signup {
  width: 550px;
  margin: 50px auto 0;
}

.section-signup .signup-header .link-logo {
  display: block;
}

.section-signup .logo {
  width: 100%;
  cursor: pointer;
}

.section-signup .form-signup {
  width: 100%;
  background-color: #202124;
}

.section-signup .form-signup .style-wrapper {
  border: 1px solid #c4c4c4;
  background-color: white;
}

.section-signup .form-signup .style-container {
  padding: 40px 34px 35px;
}

.signup-type {
  font-size: 0;
}

.signup-type .button-buyer,
.signup-type .button-seller {
  width: calc(100% / 2);
  border: none;
  padding: 19px 87px 18px 86px;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.signup-type .button-buyer {
  background-color: inherit;
}

.signup-type .button-seller {
  background-color: #f2f2f2;
}

.label-block {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
}

input {
  border: 1px solid #c4c4c4;
  padding: 16px 15px 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

input:focus {
  outline: 1px solid #202124;
}

input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

input:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

input::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

#password,
#password2,
#name,
#storeName {
  width: 100%;
}

.input-signup-username,
#companyRegistrationNumber {
  width: 346px;
}

.username-duplicate-check,
.crn-duplicate-check {
  width: 122px;
  border: none;
  padding: 18px 0;
  color: #ffffff;
  background-color: #334863;
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
  margin-left: 8px;
  border-radius: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.phoneNumber {
  width: 152px;
}

.phoneNumber.first {
  padding: 16px 50px 16px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/icon-down-arrow.svg") no-repeat;
  background-size: 22px 22px;
  background-position: calc(100% - 14px);
}

.phoneNumber.first:focus {
  outline: 1px solid #202124;
}

.phoneNumber.middle,
.phoneNumber.last {
  margin-left: 8px;
  text-align: center;
}

.pia-check-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 34px;
  padding-bottom: 25px;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  margin: 3px 10px 10px 0px;
  cursor: pointer;
}

input[type="checkbox"]:focus {
  outline: none;
}

.label-pia {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: white;
}

.label-pia .important {
  font-weight: bold;
  text-decoration: underline;
}

.message {
  display: block;
  color: #eb5757;
  margin-bottom: 20px;
  font-weight: bolder;
}

.possible {
  color: #0c964a;
}

.policy-box {
  position: relative;
  overflow: auto;
  height: 88px;
  padding: 12px;
  border: 1px solid #c4c4c4;
  margin-bottom: 34px;
  background-color: #fff;
}

.policy-text {
  font-size: 12px;
  line-height: 16px;
}

.policy-text .first-sentence {
  display: block;
  font-weight: bolder;
}

.button-signup {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #abb5c2;
  padding: 19px 0;
  margin-bottom: 110px;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.slide-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 80px;
}

.slide-container {
  position: absolute;
  width: 100%;
  left: 0;
}

.slide {
  background-repeat: no-repeat;
  width: 1200px;
  height: 500px;
  left: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  overflow: hidden;
}

.slide-container.animated {
  -webkit-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}

.button-prev {
  background-image: url("../images/icon-swiper-left.png");
  margin-left: -580px;
}

.button-next {
  background-image: url("../images/icon-swiper-right.png");
  margin-left: 530px;
}

.button-prev,
.button-next {
  position: absolute;
  background-size: 60px 120px;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #595959;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.pager {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.pager span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bdbdbd;
  border-radius: 50%;
  margin: 0 5px;
}

.pager span.active {
  background: white;
}

.section-products {
  padding-top: 80px;
  padding-bottom: 180px;
}

.list-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  row-gap: 78px;
}

.link-product {
  text-decoration: none;
  color: white;
}

.style-wrapper-img {
  width: 380px;
  height: 380px;
  border-radius: 10px;
  margin-bottom: 16px;
  overflow: hidden;
}

.style-wrapper-img .img-product {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.txt-seller {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.txt-product-name {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 10px 0;
}

.txt-price-number {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.txt-price-unit {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #202124;
}

.header .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0;
}

.header .style-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .logo {
  width: 200px;
}

.style-search {
  font-size: 0;
  padding-left: 30px;
}

.style-search #searchProducts {
  width: 500px;
  height: 44px;
  border: none;
  border-radius: 24px 0 0 24px;
  padding: 0 0 0 30px;
  margin: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  background-color: #303134;
  color: #e8eaed;
  -webkit-box-shadow: 5px black;
  box-shadow: 5px 5px 5px black;
}

.style-search .button-search {
  height: 44px;
  border: none;
  border-radius: 0 24px 24px 0;
  padding-right: 20px;
  background-color: #303134;
  vertical-align: bottom;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
}

.style-search .button-search .img-search {
  width: 24px;
}

.list-usermenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.icon-shopping-bag,
.icon-user {
  display: block;
  width: 32px;
  margin: 0 auto 5px auto;
}

.link-list {
  color: #c0c0c0;
  text-decoration: none;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  background-color: #171717;
}

.link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 60px 0 30px;
  border-bottom: 1px solid #3c4043;
  margin-bottom: 30px;
}

.style-link-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 32px;
}

.style-link-page .link-page {
  position: relative;
  text-decoration: none;
  color: #bdc1c6;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.style-link-page .link-page:not(:first-child)::after {
  content: "|";
  left: -17px;
  position: absolute;
}

.style-link-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.style-link-sns .icon-sns {
  width: 32px;
}

.co-info {
  padding-bottom: 63px;
}

.co-info-list dt,
.co-info-list dd {
  display: inline-block;
  color: #bdc1c6;
}

.txt-co-name {
  font-weight: bold;
  font-size: 20px;
}

.style-co-info:first-child {
  margin-bottom: 10px;
}

.style-co-info:not(:first-child, :last-child) {
  margin-bottom: 7px;
}

.style-wrapper-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
  column-gap: 50px;
}

.large {
  width: 550px;
  height: 550px;
  margin-bottom: 0;
}

.product-detail-list {
  color: white;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 600px;
}

.detail-txt-seller {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.detail-txt-product-name {
  font-size: 36px;
  line-height: 45px;
}

.detail-product-price {
  margin: 20px 0 138px;
}

.detail-product-price .detail-txt-price-number {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
}

.detail-product-price .detail-txt-price-unit {
  font-size: 18px;
  line-height: 23px;
}

.detail-shipping-method,
.detail-shipping-fee {
  font-size: 16px;
  line-height: 20px;
}

.style-wrapper-quantity {
  font-size: 0;
  border-top: 2px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
  padding: 45px 0;
  margin: 20px 0 32px;
}

.style-wrapper-quantity .button-quantity {
  width: 45px;
  height: 45px;
  border: 1px solid #bdbdbd;
  vertical-align: bottom;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.style-wrapper-quantity .button-quantity.minus {
  border-radius: 5px 0 0 5px;
  background: url(../images/icon-minus.png) no-repeat;
  background-position: center;
  background-size: 15px 15px;
}

.style-wrapper-quantity .button-quantity.plus {
  border-radius: 0 5px 5px 0;
  background: url(../images/icon-plus.png) no-repeat;
  background-position: center;
  background-size: 15px 15px;
}

.style-wrapper-quantity .input-quantity {
  width: 50px;
  height: 45px;
  border: 1px solid #bdbdbd;
  border-radius: 0;
  border-left: none;
  border-right: none;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #202124;
  font-size: 18px;
  color: white;
}

.style-wrapper-quantity .txt-stock {
  display: inline;
  margin-left: 15px;
  font-size: 16px;
}

.style-wrapper-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.style-wrapper-total .detail-txt-total-price {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.style-wrapper-total .style-container-total {
  font-size: 18px;
  line-height: 23px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.style-wrapper-total .style-container-total .detail-txt-total-quantity {
  display: inline-block;
  vertical-align: bottom;
}

.style-wrapper-total .style-container-total .detail-txt-total-quantity::after {
  content: "|";
  margin: 0 5px;
}

.style-wrapper-total .style-container-total .detail-number-total-quantity {
  font-weight: bold;
}

.style-wrapper-total .style-container-total .detail-number-total-price {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  display: inline-block;
  vertical-align: bottom;
}

.style-wrapper-total .style-container-total .detail-txt-total-price-unit {
  vertical-align: bottom;
}

.button-buy {
  width: 400px;
  background-color: #a158fe;
}

.button-cart {
  width: 180px;
  background-color: #f24822;
  margin-left: 15px;
}

.button-buy,
.button-cart {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-radius: 5px;
  padding: 15px 0;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}

.style-wrapper-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 140px 0 30px;
  -webkit-box-shadow: 5px -5px 5px black;
  box-shadow: 5px -5px 5px black;
}

.style-wrapper-info li {
  width: 25%;
  text-align: center;
  cursor: pointer;
}

.style-wrapper-info .style-container-info {
  width: 100%;
  padding: 20px 0;
  border-bottom: 3px solid white;
}

.style-wrapper-info .style-container-info .link-product-info {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: white;
}

.style-wrapper-info .style-container-info:hover {
  background-color: white;
  -webkit-transition: all ease 1s 0s;
  transition: all ease 1s 0s;
}

.style-wrapper-info .style-container-info:hover .link-product-info {
  color: black;
  font-weight: bold;
}

.section-cart {
  color: white;
  text-align: center;
}

.section-cart .title-cart {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 52px;
}

.cart-row {
  background: #303134;
  border-radius: 5px;
  text-align: left;
  font-size: 18px;
  line-height: 23px;
  padding: 19px 0 18px;
}

.cart-row .cart-row-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6.25% 46.5% 20.63% 26.62%;
      grid-template-columns: 6.25% 46.5% 20.63% 26.62%;
  justify-items: center;
}

.cart-row .cart-row-list li:nth-child(1) img {
  width: 20px;
}

.cart-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  padding: 35px 0 80px;
}

.button-cart-check {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(../images/check-box.png) no-repeat;
  background-position: center center;
  background-size: 22px 22px;
  cursor: pointer;
}

.button-cart-check.fill {
  background: url(../images/check-box-fill.png) no-repeat;
  background-position: center center;
  background-size: 22px 22px;
}

.wrapper-cart-product {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6.25% 46.5% 20.63% 26.62%;
      grid-template-columns: 6.25% 46.5% 20.63% 26.62%;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 3px solid #303134;
  border-radius: 5px;
  padding: 20px 0;
}

.wrapper-cart-product .button-close-cart {
  position: absolute;
  top: 18px;
  right: 18px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  width: 22px;
  height: 22px;
  background: url("../images/icon-delete.png") no-repeat;
  background-size: 22px 22px;
  background-position: center center;
  cursor: pointer;
}

.wrapper-cart-product .cart-product-info-col {
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: 0;
}

.wrapper-cart-product .cart-product-info-col .style-wrapper-img.small {
  width: 160px;
  height: 160px;
  margin: 0;
  display: inline-block;
}

.wrapper-cart-product .cart-product-info-col .cart-detail-list {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  margin-left: 36px;
}

.wrapper-cart-product .cart-product-info-col .cart-detail-list li:nth-child(2) {
  margin: 10px 0;
}

.wrapper-cart-product .cart-product-info-col .cart-detail-list li:nth-child(3) {
  margin-bottom: 40px;
}

.wrapper-cart-product .cart-product-info-col .cart-detail-list .cart-txt-seller {
  font-size: 14px;
  line-height: 18px;
  color: #767676;
}

.wrapper-cart-product .cart-product-info-col .cart-detail-list .cart-txt-product-name {
  font-size: 18px;
  line-height: 22px;
}

.wrapper-cart-product .cart-product-info-col .cart-detail-list .cart-product-price {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.wrapper-cart-product .cart-product-info-col .cart-detail-list .cart-shipping-method,
.wrapper-cart-product .cart-product-info-col .cart-detail-list .cart-shipping-fee {
  font-size: 14px;
  line-height: 18px;
  color: #767676;
}

.wrapper-cart-product .cart-last-col .cart-number-total-price,
.wrapper-cart-product .cart-last-col .cart-txt-total-price-unit {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #f24822;
}

.wrapper-cart-product.soldout {
  width: 100%;
  height: 100%;
}

.wrapper-cart-product.soldout::after {
  position: absolute;
  content: "";
  background: url("../images/sold-out.svg") no-repeat center center;
  background-color: white;
  background-size: 105%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: auto;
  left: 450px;
  -webkit-box-shadow: 4px 4px 20px 0px black;
  box-shadow: 3px 3px 10px 0px black;
}

.style-wrapper-quantity.cart {
  position: relative;
  border-top: none;
  border-bottom: none;
  padding: 0;
  margin: 0;
  vertical-align: center;
}

.input-quantity.cart {
  background-color: inherit;
  color: inherit;
}

.cart-txt-stock {
  position: absolute;
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
}

.button-buy.small {
  display: block;
  width: 130px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
  margin: 16px 0 0 0;
}

.wrapper-cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #303134;
  border-radius: 10px;
  padding: 46px 0 42px;
  color: white;
  text-align: center;
}

.wrapper-cart-total > div {
  width: 25%;
}

.wrapper-cart-total .txt-cart-sum,
.wrapper-cart-total .txt-cart-minus,
.wrapper-cart-total .txt-cart-sum-shipping,
.wrapper-cart-total .expected-payment-amount,
.wrapper-cart-total .cart-total-unit,
.wrapper-cart-total .txt-amount-unit {
  font-size: 16px;
  line-height: 20px;
}

.wrapper-cart-total .txt-cart-sum,
.wrapper-cart-total .txt-cart-minus,
.wrapper-cart-total .txt-cart-sum-shipping,
.wrapper-cart-total .expected-payment-amount {
  margin-bottom: 12px;
}

.wrapper-cart-total .expected-payment-amount {
  font-weight: bold;
}

.wrapper-cart-total .num-cart-sum,
.wrapper-cart-total .num-cart-minus,
.wrapper-cart-total .num-cart-sum-shipping,
.wrapper-cart-total .num-amount {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.wrapper-cart-total .num-amount {
  color: #f24822;
}

.wrapper-cart-total .txt-amount-unit {
  font-size: 18px;
  line-height: 23px;
}

.total-col1,
.total-col2 {
  position: relative;
}

.total-col1::after,
.total-col2::after {
  content: "";
  position: absolute;
  background: url(../images/icon-cart-minus.svg) no-repeat;
  background-size: 34px 34px;
  width: 34px;
  height: 34px;
  top: 15px;
  right: -17.5px;
}

.total-col2::after {
  background: url(../images/icon-cart-plus.svg) no-repeat;
}

.button-buy.middle {
  display: block;
  width: 200px;
  font-size: 20px;
  padding: 18px 0;
  margin: 40px auto 160px;
}

.style-wrapper-move {
  width: 400px;
  background-color: white;
  padding: 20px 0;
  margin: 50px auto 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 10px 10px 10px black;
  box-shadow: 10px 10px 10px black;
}

.txt-info {
  vertical-align: bottom;
}

.sec {
  position: relative;
  top: 3px;
  display: inline-block;
  -webkit-animation: bounce 0.3s ease infinite alternate;
  animation: bounce 0.3s ease infinite alternate;
  color: #a158fe;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 50px 25px rgba(0, 0, 0, 0.1);
  }
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 50px 25px rgba(0, 0, 0, 0.1);
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
}

.modal-content .button-close {
  position: fixed;
  top: 18px;
  right: 18px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  width: 22px;
  height: 22px;
  background: url("../images/icon-delete.png") no-repeat;
  background-size: 22px 22px;
  background-position: center center;
  cursor: pointer;
}

.modal-content .modal-wrapper-txt {
  margin: 50px 0 30px;
}

.modal-content .modal-wrapper-txt .txt-goToLogin {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.modal-content .modal-wrapper-button {
  font-size: 0;
}

.modal-content .modal-wrapper-button .button-no,
.modal-content .modal-wrapper-button .button-yes {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.modal-content .modal-wrapper-button .button-no {
  border: 1px solid #c4c4c4;
  color: #767676;
  margin-right: 10px;
}

.modal-content .modal-wrapper-button .button-yes {
  background-color: #a158fe;
  color: white;
}
/*# sourceMappingURL=style.css.map */