div,
span,
article,
section,
header,
main,
footer,
p,
ul,
li,
label,
a,
nav,
h1,
h2,
h3,
form,
input,
button,
img,
textarea,
table,
thead,
tbody,
tr,
th,
td {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  background-color: #fdd247;
}

body,
button {
  color: #333333;
  font-family: NotoSansKR;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.section-login {
  width: 550px;
  margin: 50px auto 0;
}

.section-login .logo {
  width: 100%;
}

.section-login .form-login {
  width: 100%;
  background-color: white;
}

.section-login .form-login .style-wrapper {
  border: 1px solid #c4c4c4;
  margin-bottom: 30px;
}

.section-login .form-login .style-container {
  padding: 34px 34px 35px 34px;
}

.login-type {
  font-size: 0;
}

.login-type .button-buyer,
.login-type .button-seller {
  width: calc(100% / 2);
  border: none;
  padding: 19px 77px 18px 76px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.login-type .button-buyer {
  background-color: inherit;
}

.login-type .button-seller {
  background-color: #f2f2f2;
}

.input-login-username {
  margin-bottom: 6px;
}

.input-login-username,
.input-login-password {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c4c4c4;
}

.input-login-password {
  margin-bottom: 26px;
}

.error-message {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #eb5757;
  margin-bottom: 16px;
}

.input-login-username:focus,
.input-login-password:focus {
  outline: none;
}

.input-login-username,
.input-login-password,
.button-login {
  width: 100%;
  font-weight: bold;
}

.button-login {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #abb5c2;
  padding: 19px 0;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
}

.style-link {
  text-align: center;
}

.style-link a {
  text-decoration: none;
  color: #333333;
}

.style-link .link-signup::after {
  content: "|";
  display: inline-block;
  width: 33px;
  height: 20px;
}

.section-signup {
  width: 550px;
  margin: 50px auto 0;
}

.section-signup .logo {
  width: 100%;
  background-color: #fdd247;
}

.section-signup .form-signup {
  width: 100%;
  background-color: #fdd247;
}

.section-signup .form-signup .style-wrapper {
  border: 1px solid #c4c4c4;
  background-color: white;
}

.section-signup .form-signup .style-container {
  padding: 40px 34px 35px;
}

.signup-type {
  font-size: 0;
}

.signup-type .button-buyer,
.signup-type .button-seller {
  width: calc(100% / 2);
  border: none;
  padding: 19px 87px 18px 86px;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  line-height: 22px;
}

.signup-type .button-buyer {
  background-color: inherit;
}

.signup-type .button-seller {
  background-color: #f2f2f2;
}

.label-block {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
}

input {
  border: 1px solid #c4c4c4;
  padding: 16px 15px 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

input:focus {
  outline: 1px solid #334863;
}

input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

input:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

input::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

#password,
#password2,
#name,
#storeName {
  width: 100%;
}

.input-signup-username,
#companyRegistrationNumber {
  width: 346px;
}

.username-duplicate-check,
.crn-duplicate-check {
  width: 122px;
  border: none;
  padding: 18px 0;
  color: #ffffff;
  background-color: #334863;
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
  margin-left: 8px;
  border-radius: 5px;
  vertical-align: middle;
}

.phoneNumber {
  width: 152px;
}

.phoneNumber.first {
  padding: 16px 50px 16px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/icon-down-arrow.svg") no-repeat;
  background-size: 22px 22px;
  background-position: calc(100% - 14px);
}

.phoneNumber.first:focus {
  outline: 1px solid #334863;
}

.phoneNumber.middle,
.phoneNumber.last {
  margin-left: 8px;
  text-align: center;
}

.pia-check-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 34px;
  padding-bottom: 8px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  margin: 3px 10px 10px 0px;
  cursor: pointer;
}

input[type="checkbox"]:focus {
  outline: none;
}

.label-pia {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.label-pia .important {
  font-weight: bold;
  text-decoration: underline;
}

.message {
  display: block;
  color: #eb5757;
  margin-bottom: 20px;
  font-weight: bolder;
}

.policy-box {
  position: relative;
  overflow: auto;
  height: 88px;
  padding: 12px;
  border: 1px solid #c4c4c4;
  margin-bottom: 34px;
  background-color: #fff;
}

.policy-text {
  font-size: 12px;
  line-height: 16px;
}

.policy-text .first-sentence {
  display: block;
  font-weight: bolder;
}

.button-signup {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #334863;
  padding: 19px 0;
  margin-bottom: 110px;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */